<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">
	<insert id="insertChat" parameterType="chat">
    	INSERT INTO chat VALUES ( #{chat.roomId}, #{chat.memberNo}, #{chat.message}, #{chat.sendDate},#{seq})
	</insert>
	<insert id="insertChatStatus" parameterType="chat">
		INSERT INTO CHAT_READ_STATUS values(seq_CHAT_READ_STATUS.nextval,#{seq},#{memberNo},default,sysdate)
	</insert>
	<select id="selectRoomChatList" parameterType="_int" resultMap="ChatResultMap">
		SELECT * FROM CHAT WHERE ROOM_ID = #{roomNo}
	</select>
	<select id="selectMyRoomMembers" parameterType="int" resultMap="ChatRoomResultMap">
		SELECT DISTINCT member_no FROM CHATroom WHERE ROOM_ID=#{roomNo}
	</select>
	
	<insert id="insertRoomId" parameterType="string">
    	INSERT INTO chatroom VALUES (seq_chatroom.nextval,#{m})
	</insert>
	
	<select id="selectRoomList" resultMap="MemberResultMap" parameterType="int">
		SELECT * FROM chatroom LEFT JOIN MEMBER USING(member_no)
		WHERE room_id = #{i}
	</select>
	<select id="selectMyRoomId" parameterType="int" resultType="int">
		SELECT Room_ID FROM chatroom where member_No = #{memberNo}
	</select>
	
	<select id="selectChatSeq" resultType="int">
		select seq_chat.nextval from dual
	</select>

	<resultMap id="ChatResultMap" type="chat">
	    <id property="roomId" column="ROOM_ID"/>
	    <result property="memberNo" column="MEMBER_NO"/>
	    <result property="message" column="MESSAGE"/>
	    <result property="sendDate" column="SENDDATE" />
	    <result property="chatId" column="CHAT_ID" />
	</resultMap>
	
	<resultMap type="chatroom" id="ChatRoomResultMap">
		<id property="roomId" column="ROOM_ID"/>
	    <result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
	
	<resultMap id="MemberResultMap" type="member">
	    <id property="memberId" column="MEMBER_ID"/>
	    <result property="memberNickname" column="MEMBER_NICKNAME"/>
	    <result property="memberGrade" column="MEMBER_GRADE"/>
	    <result property="memberPassword" column="MEMBER_PASSWORD"/>
	    <result property="memberName" column="MEMBER_NAME"/>
	    <result property="memberPhone" column="MEMBER_PHONE"/>
	    <result property="memberEmail" column="MEMBER_EMAIL"/>
	    <result property="memberAddress" column="MEMBER_ADDRESS"/>
	    <result property="memberIdNumber" column="MEMBER_ID_NUMBER"/>
	    <result property="memberPoint" column="MEMBER_POINT"/>
	    <result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
	    <result property="memberNo" column="MEMBER_NO"/>
	</resultMap>
	
</mapper>




